
.pricing-plan {
  float: left;
  text-align: center;
  background: #fafafa;
  position: relative;
  width: 48%;
  margin: 10px 1% 10px 0;
  padding: 20px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-box-shadow .25s linear;
  -moz-transition: -moz-box-shadow .25s linear;
  -o-transition: box-shadow .25s linear;
  -ms-transition: box-shadow .25s linear;
  transition: box-shadow .25s linear;
}
.pricing-plan:hover {
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
  z-index: 5;
}
.pricing-plan .pricing-plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #595f6b;
  border-bottom: 1px dashed #d2d2d2;
}
.pricing-plan .pricing-plan-title:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-size: 3px 1px;
}
.pricing-plan .pricing-plan-price {
  margin: 0 auto 20px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background: #595f6b;
  -webkit-border-radius: 45px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 45px;
  -moz-background-clip: padding;
  border-radius: 45px;
  background-clip: padding-box;
}
.pricing-plan .pricing-plan-price span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}
.pricing-plan .pricing-plan-features {
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 2;
  font-size: 12px;
  color: #999;
  text-align: center;
  list-style-type: none;
}
.pricing-plan .pricing-plan-features li strong {
  font-weight: bold;
  color: #888;
}
.pricing-plan .pricing-plan-promote {
  margin: 0;
  padding: 40px 20px;
  background-color: white;
  border-width: 2px;
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  z-index: 4;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.price-ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #FFF;
  color: #6a6340;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green {
  background-color: #BFDC7A;
}
.ribbon-blue {
  background-color: #5ACBFF;
}
.ribbon-orange {
  background-color: #FF9542;
}
.ribbon-red {
  background-color: #FF7373;
}
@media (min-width: 768px) {
  .pricing-plan {
    width: 25%;
    margin: 20px 0;
    padding: 20px;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
  }
  .pricing-plan:first-child {
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomleft: 7px;
    -moz-background-clip: padding;
    border-bottom-left-radius: 7px;
    background-clip: padding-box;
  }
  .pricing-plan:last-child {
    border-width: 2px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 7px;
    -moz-background-clip: padding;
    border-bottom-right-radius: 7px;
    background-clip: padding-box;
  }
  .pricing-plan-promote {
    background: #fff;
    padding: 40px;
    margin-top: 0;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    z-index: 4;
  }
}